*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin: 0;
  background-image: url(../images/background-wave.png);
  background-position: center 550px;
  background-repeat: no-repeat;

  @media screen and (min-width: $bp-desktop) {
    background-position: center 1400px;
    background-size: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

.about-us-section__title,
.why-we-section__title,
.our-procedures-section__title,
.contacts-section__title,
.contact-title {
  font-family: 'Play', sans-serif;
  text-align: center;
}

.title {
  font-weight: 400;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 100%;

  @media screen and (min-width: $bp-tablet) {
    font-weight: 700;
    margin-bottom: 48px;
    font-size: 64px;
    line-height: 100%;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accent {
  color: #2b7fff;
}

.section {
  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0;
  }
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
