.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @media screen and (min-width: $bp-tablet) {
    gap: 24px;
  }

  &__button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 0;
    border: none;
    transition: background-color 0.3s;
    background-color: var(--color-secondary-gray);

    &--active {
      background-color: var(--color-brand);
    }

    @media screen and (min-width: $bp-tablet) {
      width: 12px;
      height: 12px;
    }
  }
}
