.procedures-card {
  position: relative;
  border-radius: 4px 120px 4px 120px;
  border: none;
  height: 456px;
  width: 344px;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );

  &__text {
    color: var(--color-primary-light);
    line-height: 1.2;
    font-weight: 400;
    padding: 372px 77px 32px 115px;
    text-align: center;
  }

  &__image {
    position: absolute;
    border-radius: 4px 120px 4px 120px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
