.procedures-card {
  position: relative;
  border-radius: 4px 120px 4px 120px;
  border: none;
  max-height: 416px;
  max-width: 320px;
  margin: 0 auto;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );

  @media screen and (min-width: $bp-desktop) {
    max-height: 456px;
    max-width: 344px;
  }

  &__text {
    color: var(--color-primary-light);
    line-height: 1.2;
    font-weight: 400;
    padding: 344px 72px 24px 112px;
    font-size: 20px;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      padding: 372px 77px 32px 115px;
      font-size: 22px;
    }
  }

  &__image {
    position: absolute;
    border-radius: 4px 120px 4px 120px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
