.why-we-card {
  border-radius: 32px;
  border: 1px solid transparent;
  height: 181px;
  box-shadow: 0px 4px 4px 0px #a8c6f561;
  background-color: var(--color-primary-light);
  padding: 24px 32px;

  &__text {
    line-height: 1.3;
    text-align: center;
  }

  &__icon {
    width: 48px;
    height: 48px;
    fill: var(--color-brand);
  }

  &__icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
