.footer {
  background-color: var(--color-primary-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 56px 0;
  position: relative;

  &__container {
    display: flex;
    gap: 20px;
  }

  &__nav,
  &__address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
  }

  &__icon {
    width: 42px;
    height: 42px;
    fill: var(--color-primary-light);
    transition: fill 0.3s;

    &:hover {
      fill: var(--color-brand);
    }
  }

  &__logo,
  &__menu,
  &__address,
  &__address {
    flex-grow: 1;
  }

  &__confidentiality {
    font-size: 13px;
    color: var(--color-secondary-gray);
  }

  &::after {
    content: '';
    background-image: url('../images/footer-bottle-decor.png');
    width: 278px;
    height: 213px;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
  }
}
