.footer {
  background-color: var(--color-primary-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 56px 0;
  position: relative;
}

.confidentiality-footer {
  font-size: 13px;
  color: var(--color-secondary-gray);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu,
.address-list,
.address-info {
  flex-grow: 1;
}

.icon-footer {
  width: 42px;
  height: 42px;
  fill: var(--color-primary-light);
  transition: fill 0.3s;
}

.icon-footer:hover {
  fill: var(--color-brand);
}

.footer::after {
  content: '';
  background-image: url('../images/footer-bottle-decor.png');
  width: 278px;
  height: 213px;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
}
