.our-procedures-section {
  &__slider {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__container {
    overflow: hidden;
    margin-bottom: 40px;
  }
  &__list {
    margin-bottom: 32px;
  }

  &__item {
    width: 320px;

    @media screen and (min-width: $bp-tablet) {
      width: 344px;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }
}
